html {
    font-size:62.5%;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.header {
   display: flex;
    padding: 30px;
    background-color:#1F2937;
    color:#F9FAF8;
    font-size: 1.4rem;
}

.logo {
    font-weight: bolder;
}

/* header link */
.link {
   list-style: none;
}


.topright {
    gap: 5em;
}

ul {
    display:flex;
    gap: 2em;

}

.top{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 7em;
    background-color: #1F2937;
    color:#F9FAF8
}

/*left side */
.left {
    width:354px;
}
.top .right {
    flex-direction: column;
}
.hero {
    font-size: 4.8rem;
    font-weight:900;
    
}

.secondary {
    font-size: 1.8rem;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    padding: 10px;
    border-radius: 7px;
    border: 0px;
    width: 100px;
}


/*right side */
.right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .right {
    flex-direction: row;
    width: 50%;
}
.image {
    background-color: grey;
    display: flex;
    align-items:center;
    justify-content: center;
    height:215px;
    width: 386.5px;
    font-size: 1.8rem;
}

.information {
    height:250px;
    width: auto;
    background-color: #F9FAF8;
    display:flex;
    justify-content: center;
    gap: 4em;
    padding: 3em;
}
.square {
    flex-direction: column;
}


.infohead {
    font-size: 3.6rem;
    font-weight:bolder;
    color:#1F2937;
    display:flex;
    justify-content: center;
    padding: .5em;
    background-color: #F9FAF8;
}


.box {
    width: 160px;
    height: 160px;
    border-radius: 15px;
    border: 3px solid #3882F6;


}
.subtext {
    display: flex;
    width: 160px;
    color: grey;
    font-size:1.4rem;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 7em 13em;
    display: flex;
    flex-direction: column;
    
}

.text {
    font-size:3.6rem;
    color: #1F2937;
    font-style:italic;
}

.author {
    font-size: 2.4rem;
    align-self: flex-end;
    font-weight: bold;
}

.bottom {
    background-color: white;
    padding: 5em 13em;
 
}
.container {
    background-color: #3882F6;
    display: flex;
    padding:4em;
    border-radius: 12px;
    justify-content: space-evenly;
}
.content {
    flex-direction: column;
}
.action {
    color:white;
    font-size: 2.8rem;
}

.click {
    color:#f9faf8b2;
    font-size: 1.6rem;
}

.signup {
    border: 2px solid white;
    color: white;
    font-size: 2rem;
    width: 150px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 2em;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
}